<div class="modal fade" id="ModalAgregarTrabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
            <div class="agregarEmpresa">
                <label for="formFile" class="form-label">Nombre Empresa</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="cambionombre">
                Cambio nombre<textarea class="form-control" id="textareasobremi" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
        </form>
      </div>
    
    </div>
  </div>
  <!-- Fin Modal -->
