    <!-- Section 3 -->
    <section id="section3" class="educacion">
        <div class="container text-left">
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10 mt-3">
              <div  class="prueba"><h3>Estudios realizados</h3></div>
              <ul class="list-group">
              <li>Realización de comandas a la cocina.</li>
              <li>Distribución de platos y bebidas a los comensales.</li>
              <li>Limpieza de mesas y mantenimiento del local con un aforo de 30 comensales.</li>
              </ul>
            </div>
            <div class="col-1">
            </div>
          </div>
        </div>
      </section>
    <!-- Fin Section 3 -->