  <!-- Section 4 -->
  <section id="section4" class="habilidades">
    <h3 style="text-align:center">Habilidades adquiridas</h3>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
      <div class="progress-circle-container">
        <div class="progress-circle progress-1"><span>1</span></div>  
        <div class="progress-circle progress-10"><span>10</span></div>  
        <div class="progress-circle progress-20"><span>20</span></div>  
        <div class="progress-circle progress-30"><span>30</span></div>
        <div class="progress-circle progress-40"><span>40</span></div>
        <div class="progress-circle progress-50"><span>50</span></div>  
        <div class="progress-circle progress-60"><span>60</span></div>
        <div class="progress-circle progress-70"><span>70</span></div>
        <div class="progress-circle progress-80"><span>80</span></div>
        <div class="progress-circle progress-90"><span>90</span></div>
        <div class="progress-circle progress-100"><span>100</span></div>  
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  </section>
<!-- Fin Section 4 -->